/* Estilos para el cuadro modal de error */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-contenido {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    width: 50%;
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}